<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phishing Check</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<div class="mainc">
    <h1> Phishing URL Detection Using Machine Learning </h1>
<br><br>
    <form action="result" method="post">
        <div class="hiddencsrf">{% csrf_token %}</div>
        <input type="text" name="URL" class="url" placeholder="Enter URL to check">
        <br><br>
    <input type="submit" value="Check" class="subButton">

</form>
</div>
</body>
</html>